body {
	margin: 0;
	color: white;
}

#toolbars {
	position: absolute;
	width: 100%;
	top: 0px;
	bottom: 100px;
}

#left-pane {
	position: absolute;
	top: 100px;
    bottom: 0px;
    width: 50%;
}

#right-pane {
	position: absolute;
    top: 100px;
    bottom: 0px;
    width: 50%;
	left: 50%;
}

.icon {
	width: 20px;
	height: 20px;
}

[is-selected="true"] {
	background-color: blue;
}

[is-marked="true"] {
	color: red;
}